<div class="d-flex align-items-start justify-content-center vh-100 bg-image" style="background: url('https://external-preview.redd.it/4MddL-315mp40uH18BgGL2-5b6NIPHcDMBSWuN11ynM.jpg?width=960&crop=smart&auto=webp&s=b98d54a43b3dac555df398588a2c791e0f3076d9') no-repeat center center / cover fixed;
       height: 100vh">
    <div class="text-center text-light mt-5 mx-2">
        <h1 class="display-1 fw-bold font-monospace">404</h1>
        <p class="fs-3 font-monospace">{{'ERROR.pageNotFound.text' | translate}}</p>
        <a href="/" class="btn btn-secondary font-monospace">{{'ERROR.pageNotFound.btn' | translate}}</a>
    </div>
</div>