<navbar />
<div infiniteScroll infinite-scroll [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
    <div class="images-results" *ngIf="images">
        <image-publication *ngFor="let image of images" [image]="image"
            (setImageSelectedEvent)="setSelectedImage($event)"></image-publication>
    </div>
    <offcanvas-image [image]="selectedImage" (removeImage)="setSelectedImage(null)" />
    <spinner *ngIf="!images" />
</div>