/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --primary-color: #313840;
  --secondary-color: #d9ff00;
  --background-color: #000;
  --font-color: #f5f5f5;
  --selected-color: #d9ff00;
  --font-selected-color: #000;
}

body {
  background-color: var(--background-color) !important;
  color: var(--font-color) !important;

  ::selection {
    background-color: var(--selected-color) !important;
    color: var(--font-selected-color) !important;
  }
}
